#form_content
  - form_for :class_name, :url => { :action => @action } do |form|
    %fieldset
      %legend
        Enter Parameters
      = render :partial => "timesheet_form", :locals => {:form => form}
      .form_row
        = submit_tag("Submit", :class => "submit")
    
